body {
    background-color: rgb(255, 0, 0);
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inicio{
    display:flex;
    height: 100vh;
}

.foto{
    flex: 1;
    background-color:rgba(46, 143, 22, 0.979) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto img{
    width: 1100px;
    height: auto;
    border-radius: 10px;
}
.infos{
flex: 2;
padding: 60px;
display: flex;
flex-direction: column;
justify-content: center;
}
.infos h1{
    font-size: 50px;
    margin: 0;
    color: rgb(255, 230, 0);
}
.infos h2{
    font-size: 25px;
    margin-top: 10px;
    color: rgb(255, 217, 0);
}
.infos p{
    font-size: 20px;
    margin: 8px 0;
    color: #ffe600;
}

.social{
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;

}
.social a{
    display: grid;
    place-items: center;
    color: #ffe600;
    border: 1.6px solid yellow;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align:center ;
    text-decoration: none;
}

.social a:hover{
    color: rgba(9, 150, 33, 0.966);
}