body {
    background-color: rgb(255, 58, 58);
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inicio{
    display:flex;
    height: 100vh;
}

.foto{
    flex: 1;
    background-color:rgba(227, 252, 1, 0.979) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto img{
    width: 300px;
    height: auto;
    border-radius: 8px;
}